<script>
  import { counter, counters } from "./Store.js";
  import { count, counts } from "./CustomStores.js";
  import { api } from "./api-store.js";
  import Counter from "./Counter.svelte";
  import Increment from "./Increment.svelte";
  import Table from "./Table.svelte";

  let show = true;
</script>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>

<main>
  <h1>Stores</h1>
  <h2>Contador: {$counter}</h2>
  {#if show}
    <Counter />
  {/if}
  <button
    on:click={() => {
      show = !show;
    }}>
    show
  </button>
  <hr />
  <h1>Modificar el estado</h1>
  <h2>{$counters.counter1}</h2>
  <h2>{$counters.counter2}</h2>
  <Increment />
  <hr />
  <h1>Custom stores</h1>
  <h2>{$count}</h2>
  <button on:click={count.increment}>Incrementar</button>
  <h2>{$counts.count2}</h2>
  <button on:click={counts.increment}>Incrementar 2</button>
  <hr />
  <h1>Readable store</h1>
  {#each $api as item}
    <li>{item.username}</li>
  {/each}
  <hr />
  <div align="center">
    <Table />
  </div>

</main>
