<script>
  import { counter } from "./Store.js";
  import { onDestroy } from "svelte";

  let cont;

  const unsubscribe = counter.subscribe(value => {
    cont = value + 1;
  });

  onDestroy(unsubscribe);
</script>

<h2>Contador desde otro componente: {cont}</h2>
