<script>
  import { counter, counters } from "./Store.js";

  function increment() {
    counter.update(n => n + 1);
  }

  function reset() {
    counter.set(0);
  }

  function increment2() {
    counters.update(n => {
      n.counter1 = n.counter1 + 1;
      n.counter2++;
      return n;
    });
  }
</script>

<button on:click={increment}>Incrementar</button>
<button on:click={reset}>Reset</button>
<button on:click={increment2}>Incrementar 2</button>
