<script>
  import { api } from "./api-store.js";
</script>

<table>
  <th>name</th>
  <th>username</th>
  <th>email</th>
  {#each $api as item}
    <tr>
      <td>{item.name}</td>
      <td>{item.username}</td>
      <td>{item.email}</td>
    </tr>
  {/each}
  <hr />
</table>
